.clsContainer.divDefault
{
    font-family:Arial;
    font-size:9px;
    color:white;
    border: 1px solid green;
    float:left;
    text-align:center;
}
.clsContainer.divDefault:hover
{
}
.clsContainer.imgDefault
{

}
.clsContainer.imgDefault:hover
{

}


