.clsContainer.buffer
{
    width:100%;
    height:100%;
    overflow-x:scroll;
    overflow-y:scroll;
}
.clsContainer.divDefault
{
    font-family:Arial;
    font-size:9px;
    color:white;
    border: 1px solid green;
    float:left;
    text-align:center;
}
.clsContainer.divDefault:hover
{
}
.clsContainer.imgDefault
{
    width:64px;
    height:64px;
}
.clsContainer.imgDefault:hover
{

}


