.clsGround.grid
{
    font-size:64px;
    width:1em;
    height:1em;
    position:absolute;
    background-image:url("../images/tiles/noTile.png");
    /* transition:background-position linear 1000ms; // recall in */
}

.clsGround.grid:hover
{
    background-image: linear-gradient(to bottom, rgba(255,255,0,0), rgba(255,255,0,128)), url(..\\images\\tiles\\noTile.png);
    background-blend-mode: color-dodge;
    //background-blend-mode: saturation;
    //background-blend-mode: color;
}



