.clsGrid.buffer
{
    width:1024px;
    height:768px;
    background-image:url("../images/grid/space.jpg");
    background-image:url("../images/grid/10-space.jpg");
    background-size:cover;
    position:relative;
    /* border:1px solid red; */
    /* transition:background-position linear 1000ms; // recall in */
}
.clsGrid.grid
{
    font-size:64px;
    width:1em;
    height:1em;
    position:absolute;
    background-image:url("../images/grid/tile.png");
    //background-size:64px;
    //background-image:url("../images/tiles/wc-anim3.gif");
    /* transition:background-position linear 1000ms; // recall in */
}

.clsGrid.grid:hover
{
    background-image:url("../images/grid/tileSelected.png");
}
.clsGrid.grid.over
{
    background-image:url("../images/grid/tileSelected.png");
}



