/*
    to calculate default locations

*/
.object.divDefault
{
    position:absolute;
    left: 0px;
    top: 0px;
}
.object.divDefault:hover
{
    position:absolute;
    left: 0px;
    top: 0px;
}
.object.divDefault.over
{
    background-image:url("../images/grid/tileSelected.png");
}


