<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dbConString" value="server=127.0.0.1;uid=root;database=testdatabase;pwd=IBMs3666;pooling=false;"/>
    <add key="rdbConString" value="server=JSGame.db.2495201.hostedresource.com;uid=JSGame;database=JSGame;pwd=IBMs3666!;pooling=false;"/>
    <add key="ldbConString" value="server=127.0.0.1;uid=root;database=testdatabase;pwd=IBMs3666;pooling=false;"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
</configuration>