<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dbConString" value="server=127.0.0.1;uid=root;database=testdatabase;pwd=IBMs3666;pooling=false;"/>
    <add key="rdbConString" value="server=JSGame.db.2495201.hostedresource.com;uid=JSGame;database=JSGame;pwd=IBMs3666!;pooling=false;"/>
    <add key="ldbConString" value="server=127.0.0.1;uid=root;database=testdatabase;pwd=IBMs3666;pooling=false;"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true"></compilation>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed"></httpErrors>
    <asp scriptErrorSentToBrowser="true"></asp>
  </system.webServer>
</configuration>